{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include '_partials/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            {% include '_partials/topbar.html' %}
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800 text-uppercase">Deletar foto andamento obra</h1>
                    <a href="{% url 'gestores:empreendimento-update' object.id %}" class="d-block btn btn-primary shadow-sm"><i
                        class="fas fa-arrow-left text-white-50"></i> Voltar
                    </a>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <br>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-primary text-uppercase text-center" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-4"><img width="280" src="{{object.imagem.url}}"></div>
                            <h4 class="text-black mb-5 pb-1">Tem certeza que deseja apagar a foto acima de "{{ object.empreendimento.nome }}"?</h4>
                            <a href="{% url 'gestores:empreendimento-foto-update' object.empreendimento.id %}" class="btn btn-lg btn-secondary text-uppercase text-white " type="submit">Cancelar</a> <input type="submit" class="btn btn-lg btn-danger text-uppercase" value="Deletar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% include '_partials/footer.html' %}
    </div>
{% endblock %}