{% extends 'base.html' %}
{% block content %}
    {% include '_partials/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            {% include '_partials/topbar.html' %}
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800 text-uppercase">Minha Conta</h1>
                </div>
                
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <!-- Exibição de Erros -->
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <p>Verifique se os dados informados estão corretos:</p>
                                {{ form.non_field_errors }}
                                <ul>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        
                        <!-- Exibição de Mensagens -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-primary text-uppercase text-center w-50 mx-auto" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        
                        <!-- Formulário de Minha Conta -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="nome_sobrenome">Nome</label>
                                <input type="text" class="form-control" name="nome_sobrenome" value="{{ request.user.nome_sobrenome }}" required>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="email">E-mail</label>
                                    <input type="email" class="form-control" name="email" maxlength="80" value="{{ request.user.email }}" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="telefone">Telefone</label>
                                    <input type="text" class="form-control" name="telefone" value="{{ request.user.telefone }}" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="cep">CEP</label>
                                    <input type="text" class="form-control" name="cep" id="cep" value="{{ request.user.cep }}" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="cidade">Cidade</label>
                                    <input type="text" class="form-control" name="cidade" id="cidade" value="{{ request.user.cidade }}" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="estado">Estado</label>
                                    {{ form.estado }}
                                </div>
                            </div>
                            <hr class="mb-4">
                            <button type="submit" class="btn btn-outline-info btn-lg text-uppercase">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% include '_partials/footer.html' %}
    </div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script>
    $(document).ready(function() {
        // Aplicar máscara ao campo CEP
        $('#cep').mask('00000-000');

        // Consultar ViaCEP e preencher cidade e estado automaticamente
        $('#cep').on('blur', function() {
            var cep = $(this).val().replace('-', '');
            if (cep.length === 8) {
                $.getJSON(`https://viacep.com.br/ws/${cep}/json/`, function(data) {
                    if (!data.erro) {
                        $('#cidade').val(data.localidade);
                        $('#id_estado').val(data.uf).change();
                    } else {
                        alert("CEP não encontrado.");
                    }
                }).fail(function() {
                    alert("Erro ao consultar o CEP.");
                });
            }
        });
    });
</script>
{% endblock %}
